{% extends "_base.html" %}
{% block body %}
<div class="mdl-layout mdl-js-layout">
    <main class="mdl-layout__content mdl-color--grey-100">
        <div class="ob2-main-thin mdl-grid">
            <div class="ob2-content mdl-cell mdl-cell--12-col mdl-color--white
                        mdl-color-text--grey-800 mdl-shadow--2dp">
                <p>
                    Are you sure you want to log out?
                </p>
                <form action="{{ url_for("onboarding.log_out") }}" method="post">
                    <input type="hidden" name="_csrf_token"
                           value="{{ generate_csrf_token() }}" />
                    <button type="submit" class="mdl-button mdl-js-button mdl-js-ripple-effect
                                                 mdl-color--amber">
                        Log out
                    </button>
                </form>
            </div>
        </div>
    </main>
</div>
{% endblock %}
