{% from "macros/flash.html" import flash_all %}
{% extends "_onboarding.html" %}
{% block content %}
{{ flash_all() }}
<div class="ob2-content mdl-cell mdl-cell--12-col mdl-color--white
            mdl-color-text--grey-800 mdl-shadow--2dp">
    <form action="{{ url_for("onboarding.student_id") }}" method="post" autocomplete="off">
        <h1 class="mdl-typography--headline">Provide your student ID</h1>
        <p>
            Please provide your student ID number. If you need assistance, contact your TA.
        </p>
        <input type="hidden" name="_csrf_token" value="{{ generate_csrf_token() }}" />
        <div class="ob2-fullwidth mdl-textfield mdl-js-textfield
                    mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" id="f_student_id"
                   name="f_student_id" pattern="[0-9]+" title="Numbers only" />
            <label class="mdl-textfield__label" for="f_student_id">
                Student ID (required)
            </label>
            <span class="mdl-textfield__error">Numbers only</span>
        </div>
        <br />
        <button type="submit" class="mdl-button mdl-js-button mdl-js-ripple-effect
                                     mdl-color--amber">
            Next
        </button>
    </form>
</div>
{% endblock %}
